/*
* Robin Schoors Portfolio CSS
*
* Copyright 2013
* All Rights Reserved
*/

@import url(http://fonts.googleapis.com/css?family=Raleway:400,500);

#preloader {
	position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
	background-color:rgba(0,0,0,0.5);
    z-index:99;
}

::selection {
	background:#FFF;
	color:#000;
}

* {
	margin:0;
	padding:0;
}

body {
	background-color:#000;
    background: url(../images/background.png);
    font:1em 'Raleway', Arial, sans-serif;
    color:#fff;
}

a {
 	text-decoration: none;
 	color:#000;
}

h1 {
 	font-size:4em;
 	text-shadow: 0px 0px 1000px rgba(255, 255, 255, 1);
}

.center {
 	text-align: center;
}

.bold {
 	font-weight: 500;
}

.clear {
	clear:both;
}

#container {
 	width:700px;
 	margin:0 auto;
 	display:none;
}

#main_header {
 	margin-top:100px;
}

#info {
	margin:0 auto;
	text-align:center;
}

#main_section {
	width:600px;
	margin:50px auto 0 auto;
}

#article {
	background:#F1F1F1;
	color:#000;
	width:600px;
	height:50px;
	line-height:50px;
	text-align:center;
	margin-bottom:10px;
	box-shadow:0 0 1px rgba(255,255,255,1);
	overflow: hidden;
	cursor: pointer;
	font-weight:500;
}

#main_section .half {
	width:290px;
	display:inline-block;
}

#main_section .half:nth-child(odd){
	margin-right:8px;
}
#main_section .half:nth-child(even){
	margin-left:8px;
}

#article #transition {
	background:#20ADC1;
	color:#fff;
	width:50px;
	height:50px;
	position: absolute;
	left:-50px;
	transition:all 0.6s ease-in-out;
	text-shadow:0 0 1px #555;
}
#article:hover #transition{
	left:0;
}

#main_footer {
	position:absolute;
	left:0;
	bottom:0;
	line-height: 25px;
	height:25px;
	background:rgba(0,0,0,0.5);
	width:100%;
	box-shadow:0 -1px 1px rgba(255,255,255, 0.5);
	text-align:center;
	font-size:0.6em;
	opacity:0.8;
}


/* NOISE */
.noise {
position: relative;
z-index: 1;
}

.noise:before, .body-noise:before {
content: "";
position: absolute;
z-index: -1;
top:0;
bottom:0;
left:0;
right:0;
background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==);
}